/* === Flexbox === */
.container,
.container__wrapper,
.container__wrapper__content,
.container__wrapper__content__text,
.container__wrapper__content__text__item,
.container__wrapper__form,
.footer,
.container__wrapper__network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* === Header ===*/
.navbar {
    width: 100%;
    height: auto;
}

.navbar__container {
    width: 100%;
    max-width: 1000px;
    padding-left: 50px;
    height: auto;
    margin: auto;
}

.brand-superlogica {
    width: 120px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/brand/superlogica.svg");
}

/* === All sections ===*/
.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: auto;
}

.container__wrapper {
    width: 100%;
    max-width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    justify-content: space-between;
}

/* === Section 1 ===*/
.container__text {
    width: 450px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
}

.container__images {
    width: auto;
    height: auto;
    right: 0;
    position: relative;

}

.container__images__phone {
    width: 330px;
    height: 85vh;
    min-height: 400px;
    max-height: 900px;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/phone.png");
}

.container__images__credit-card {
    width: 270px;
    height: 50vh;
    min-height: 250px;
    margin-left: -120px;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/credit-card.png");
}

.container__images__digital {
    width: 500px;
    height: 500px;
    margin-top: 400px;
    margin-left: -150px;
    opacity: .8;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/digital.png");
}

/* === Section 2 ===*/
.container__wrapper__h1 {
    width: 70%;
    height: auto;
    padding-top: 70px;
    text-align: center;
}

.container__wrapper--column {
    flex-direction: column;
}

.container__wrapper__content {
    width: 100%;
    justify-content: space-around;
}

.container__wrapper__content__text {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.container__wrapper__content__text__icon {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-bottom: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container__wrapper__content__text__icon--metrics {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/metrics.png");
}

.container__wrapper__content__text__icon--ticket {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/ticket.png");
}

.container__wrapper__content__text__item {
    justify-content: flex-start;
}

.arrow-item-list {
    width: 10px;
    height: 10px;
    margin-right: 5px;  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/arrow-item-list.png");
}

.container__wrapper__content__image__element {
    margin: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container__wrapper__content__image__element--money {
    width: 330px;
    height: 330px;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/money.png");
}

.container__wrapper__content__image__element--hand-card {
    width: 480px;
    height: 480px;
    margin-bottom: 0;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/hand-card.png");
}

/* === Section 3 === */
.container__wrapper__text {
    width: 450px;
}

/* === Section 4 === */
.container--bg {
    width: 115%;
    height: 100%;
    opacity: .5;
    margin-top: -100px;
    background-position: top;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/background.png");
}

.container__wrapper__card-phone {
    width: 500px;
    height: 500px;
    margin-top: -150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/card-phone.png");
}

/* === Footer ===*/
.footer {
    width: 100%;
    height: 100px;
}

.container__wrapper__network {
    width: auto;
    height: auto;
    justify-content: flex-start;
}

.container__wrapper__network__item {
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .2s;
}

.container__wrapper__network__item:hover {
    opacity: .5;
    transform: translateY(1px);
}

.container__wrapper__network__item--facebook {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/facebook.png");
}

.container__wrapper__network__item--linkedin {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/linkedin.png");
}

.container__wrapper__network__item--instagram {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/instagram.png");
}

/* === Media queries === */
@media only screen and (max-width: 992px) {
    .container__wrapper {
        flex-direction: column;
        justify-content: center;
    }
}