/* === Flexbox === */
.container,
.s1__container,
.s4__container,
.container__wrapper,
.s2__container__wrapper__content,
.s2__container__wrapper__content__text,
.s2__container__wrapper__content__text__item,
.f__footer,
.f__container__wrapper__network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* === Header ===*/
.navbar {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar__container {
    width: auto;
    max-width: 1000px;
    padding-left: 50px;
    height: auto;
    margin: auto;
}

.brand-superlogica {
    width: 200px;
    height: 5vh;
    min-height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/brand/superlogica.svg");
}

/* === All sections ===*/
.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: auto;
    position: relative;
}

.s1__container {
    width: 100%;
    height: auto;
    min-height: 95vh;
    margin: auto;
    position: relative;
}

.container__wrapper {
    width: 100%;
    max-width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    justify-content: space-between;
}

/* === Section 1 ===*/
.s1__container__text {
    width: 450px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
}

.s1__arrow__bottom {
    position: absolute;
    padding: 1rem; /* Arrow size */
    box-shadow: 1px -1px 0 1px #ffffff inset;
    -webkit-box-shadow: 2px -2px #ffffff inset;
    border: solid transparent;
    border-width: 0 0 1rem 1rem;
    transform:rotate(-45deg);
    bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.s1__arrow__bottom:hover {
    bottom: 26px;
}

.s1__container__images {
    width: auto;
    height: auto;
    right: 0;
    position: relative;
}

.s1__container__images__phone {
    width: 280px;
    height: 85vh;
    min-height: 400px;
    max-height: 900px;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/phone.png");
}

.s1__container__images__credit-card {
    width: 220px;
    height: 50vh;
    min-height: 250px;
    margin-left: -120px;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/credit-card.png");
}

.s1__container__images__digital {
    width: 450px;
    height: 450px;
    margin-top: 400px;
    margin-left: -150px;
    opacity: .8;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/digital.png");
}

/* === Section 2 ===*/
.s2__container__wrapper__h1 {
    width: 70%;
    height: auto;
    padding-top: 70px;
    text-align: center;
}

.s2__container__wrapper--column {
    flex-direction: column;
}

.s2__container__wrapper__content {
    width: 100%;
    justify-content: space-around;
}

.s2__container__wrapper__content__text {
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.s2__container__wrapper__content__text__icon {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    margin-bottom: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.s2__container__wrapper__content__text__icon--metrics {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/metrics.png");
}

.s2__container__wrapper__content__text__icon--ticket {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/ticket.png");
}

.s2__container__wrapper__content__text__item {
    justify-content: flex-start;
}

.s2__arrow-item-list {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/arrow-item-list.png");
}

.s2__container__wrapper__content__image__element {
    margin: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.s2__container__wrapper__content__image__element--money {
    width: 330px;
    height: 330px;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/money.png");
}

.s2__container__wrapper__content__image__element--hand-card {
    width: 480px;
    height: 480px;
    margin-bottom: 0;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/hand-card.png");
}

/* === Section 3 === */
.s3__container__wrapper__text {
    width: 450px;
}

/* === Section 4 === */
.s4__container {
    width: 100%;
    height: 330px;
}

.s4__container__wrapper__text {
    width: 400px;
    height: auto;
    margin-left: 50px;
    position: relative;
}

.s4__container__wrapper__card-phone {
    width: 450px;
    height: 450px;
    margin-top: -100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/card-phone.png");
}

.s4__container--bg {
    width: 120%;
    height: 535px;
    margin-top: -100px;
    background-position: top;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/image/background.png");
}

/* === Footer ===*/
/* .f__footer {
    width: 100%;
    height: 100px;
}

.f__container__wrapper__network {
    width: auto;
    height: auto;
    justify-content: flex-start;
}

.f__container__wrapper__network__item {
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .2s;
}

.f__container__wrapper__network__item:hover {
    opacity: .5;
    transform: translateY(1px);
}

.f__container__wrapper__network__item--facebook {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/facebook.png");
}

.f__container__wrapper__network__item--linkedin {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/linkedin.png");
}

.f__container__wrapper__network__item--instagram {
    background-image: url("https://cdn2.hubspot.net/hubfs/3453052/%5BGLOBAL%20ASSETS%5D/icons/instagram.png");
} */

/* Flexbox */
/* Flexbox */
.footer,
.footer__wrapper,
.wrapper-brands-network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 125px;
    bottom: 0;
    background-color: #ffffff;
}

.footer__wrapper {
    width: 80%;
    max-width: 1200px;
    height: 100%;
    justify-content: space-between;
}

.wrapper-brands-network {
    width: 300px;
    height: auto;
    justify-content: space-around;
}

.brand-network {
    width: 40px;
    height: 40px;
    margin: 2%;
    border-radius: 100%;
}

svg g {
    transition: all 0.1s ease-in-out;
}

svg g:hover {
    fill: #0065ff;
}

@media only screen and (max-width: 768px) {
    .footer {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .footer__wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}

/* === Media queries === */
@media only screen and (max-width: 992px) {
    /* === Section 1 === */
    .s1__container__text {
        width: 400px;
    }
    .s1__container__images__phone {
        width: 250px;
        height: 85vh;
        max-height: 900px;
    }
    .s1__container__images__credit-card {
        width: 180px;
        height: 50vh;
        margin-left: -90px;
    }
    .s1__container__images__digital {
        width: 400px;
        height: 400px;
        margin-top: 300px;
        margin-left: -150px;
    }

    /* === Section 2 === */
    .s2__container__wrapper__h1 {
        width: 70%;
        height: auto;
        text-align: center;
    }
    .s2__container__wrapper__content__image__element--money {
        width: 250px;
        height: 250px;
    }
    .s2__container__wrapper__content__image__element--hand-card {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    /* === All sections ===*/
    .container__wrapper {
        padding-left: 0;
        padding-right: 0;
        padding-top: 50px;
        flex-direction: column;
        justify-content: center;
    }
    
    /* === Section 1 === */
    .s1__container__text {
        width: 80%;
    }

    .s1__arrow__bottom {
        position: absolute;
        padding: 1rem; /* Arrow size */
        box-shadow: 1px -1px 0 1px #ffffff inset;
        -webkit-box-shadow: 2px -2px #ffffff inset;
        border: solid transparent;
        border-width: 0 0 1rem 1rem;
        transform:rotate(-45deg);
        cursor: pointer;
        transition: 0.9s;
    }
    
    .s1__container__images__phone {
        width: 250px;
        height: 50vh;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    
    .s1__container__images__credit-card {
        width: 200px;
        height: 50vh;
        margin-top: -10px;
        margin-left: -100px;
    }
    
    .s1__container__images__digital {
        width: 480px;
        height: 480px;
        margin-top: 100px;
        margin-left: -150px;
    }

    /* === Section 2 === */
    .s2__container__wrapper__h1 {
        padding-top: 0;
    }

    /* === Section 3 === */
    .s3__container__wrapper__text {
        width: 80%;
    }

    /* === Section 4 === */
    .s4__container {
        height: auto;
    }
    
    .s4__container__wrapper__text {
        width: 80%;
        margin-left: 0;
    }
    
    .s4__container__wrapper__card-phone {   
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    .s4__container--bg {
        width: 100%;
        height: 100%;
        background-position: center;
        margin-top: 0;
    }
}

@media only screen and (max-width: 670px) {
    /* === Section 1 === */
    .s1__container__images__phone {
        width: 250px;
        height: 40vh;
        margin-top: 50px;
    }
    
    .s1__container__images__credit-card {
        width: 200px;
        height: 40vh;
        margin-top: 20px;
        margin-left: -50px;
    }
    
    .s1__container__images__digital {
        width: 380px;
        height: 380px;
        margin-top: 120px;
        margin-left: -100px;
    }

    /* === Section 2 === */
    .s2__container__wrapper__h1 {
        width: 80%;
        margin-bottom: 50px;
    }
    
    .s2__container__wrapper__content {
        flex-direction: column;
        justify-content: center;
    }

    .s2__container__wrapper__content--column-reverse {
        flex-direction: column-reverse;
    }
        
    .s2__container__wrapper__content__text__icon {
        width: 50px;
        height: 50px;
        margin-right: 0;
    }
    
    .s2__container__wrapper__content__image__element {
        margin: 0;
    }
    
    .s2__container__wrapper__content__image__element--money {
        width: 230px;
        height: 230px;
    }
    
    .s2__container__wrapper__content__image__element--hand-card {
        width: 380px;
        height: 380px;
    }

    /* === Section 4 === */
    .s4__container__wrapper__card-phone {
        width: 350px;
    }
    
    .s4__container--bg {
        height: 70%;
        background-size: cover;
    }
}