/* === Texts === */
.margin-top--big {
    margin-top: 50px;
}

.margin-top {
    margin-top: 20px;
}

.h1 {
    font-size: 4em;
    line-height: 55px;
    font-family: adelle;
    font-weight: 400;
}

.h1 b {
    font-size: 40px;
    line-height: 55px;
    font-family: adelle;
    font-weight: 600;
}

.h1--small {
    font-size: 2.8em;
    line-height: 33px;
    font-family: adelle;
    font-weight: 600;
}

.h2 {
    font-size: 2.5em;
    line-height: 30px;
    font-family: adelle;
    font-weight: 400;
}

.p {
    font-size: 1.8em;
    line-height: 25px;
    font-family: proxima-nova;
    font-weight: 400;
}