/* === Texts === */
.margin-top--big {
    margin-top: 50px;
}

.margin-top {
    margin-top: 20px;
}

.h1 {
    font-size: 4.5em;
    line-height: 65px;
    font-family: adelle;
    font-weight: 400;
}

.h1--light {
    font-size: 4.5em;
    line-height: 65px;
    font-family: proxima-nova;
    font-weight: 100;
}

.h1--light b {
    font-size: 45px;
    line-height: 65px;
    font-family: proxima-nova;
    font-weight: 600;
}

.h1--small {
    font-size: 2.8em;
    line-height: 33px;
    font-family: adelle;
    font-weight: 600;
}

.h1--form {
    width: 80%;
    font-size: 2.2em;
    line-height: 28px;
    font-family: proxima-nova;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 10px;
}

.h2 {
    font-size: 2.5em;
    line-height: 30px;
    font-family: adelle;
    font-weight: 400;
}

.p {
    font-size: 2.5em;
    line-height: 35px;
    font-family: proxima-nova;
    font-weight: 100;
}

.p--small {
    font-size: 2em;
    line-height: 30px;
    font-family: proxima-nova;
    font-weight: 100;
}

.p--footer {
    font-size: 1.6em;
    line-height: 20px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* === Link === */
.inline-link {
    font-size: 14px;
    text-decoration: none;
    color: #0065ff;
    font-weight: 600;
    position: relative;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: color 200ms;
}

.inline-link:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    right: 0;
    height: 2px;
    background: #006aff;
    transform: scaleX(0);
    transition: transform 300ms ease-out,color 200ms;
    transform-origin: right center
}

.inline-link:hover:after {
    transform: scale(1);
    transform-origin: left center;
    transition: transform 300ms ease-in
}

.inline-link:active:after {
    background: #5ca0ff
}

.inline-link:active {
    color: #5ca0ff;
    transition: color 200ms
}

.inline-link:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    right: 0;
    height: 2px;
    background: #b7d4ff;
    transform: scaleX(1);
    transition: transform 300ms ease-out,color 200ms;
    transform-origin: right center
}

/* === Media queries === */
@media only screen and (max-width: 992px) {
    .h1,
    .h1--light {
        font-size: 3.5em;
        line-height: 45px;
    }

    .h1--light b {
        font-size: 35px;
        line-height: 55px;
    }
    
    .h1--small {
        font-size: 2.2em;
        line-height: 27px;
    }

    .h2 {
        font-size: 1.8em;
        line-height: 28px;
    }
    
    .p {
        font-size: 1.8em;
        line-height: 28px;
    }
    
    .p--small {
        font-size: 1.6em;
        line-height: 26px;
    }
}