/* === Texts === */
.margin-top--big {
    margin-top: 50px;
}

.margin-top {
    margin-top: 20px;
}

.h1 {
    font-size: 4.5em;
    line-height: 65px;
    font-family: adelle;
    font-weight: 400;
}

.h1--light {
    font-size: 4.5em;
    line-height: 65px;
    font-family: proxima-nova;
    font-weight: 100;
}

.h1--light b {
    font-size: 45px;
    line-height: 65px;
    font-family: proxima-nova;
    font-weight: 600;
}

.h1--small {
    font-size: 2.8em;
    line-height: 33px;
    font-family: adelle;
    font-weight: 600;
}

.h2 {
    font-size: 2.5em;
    line-height: 30px;
    font-family: adelle;
    font-weight: 400;
}

.p {
    font-size: 2.5em;
    line-height: 35px;
    font-family: proxima-nova;
    font-weight: 100;
}

.p--small {
    font-size: 2em;
    line-height: 30px;
    font-family: proxima-nova;
    font-weight: 100;
}